.taskItem {
    position: relative;
    display: block;
    padding: 10px;
    border: 2px solid brown;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
}

.taskItem h4{
    text-align: center;
    font-family: cursive;
    word-break: break-all;
}

.taskItem .description {
    text-indent: 20px;
    font-family: serif;
    text-align: justify;
    word-break: break-all;
}

.taskItem a {
    color: black;
    font-weight: 500;
    position: absolute;
    text-decoration: none;
    right: 10px;
    top: 5px;
    cursor:pointer;
}

.taskItem .date {
    text-align: right;
    font-style: italic;
}